/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-image-theme: url("../images/cover-image-dark.png");
  --bg-color: #000028;
  --title-color: #DB00FF;
  --subtitle-color: #000;
  --accent-color: #FF0070;
  --section-title-color: #FF0070;
  --container-title-color: #000;
  --container-subtitle-color: #F1B2CE;
  --border-color: #FF0070;
  --hidden-rec: initial;
  --border-hover:  rgba(255, 0, 112, 0.4);
}