/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-color: #fff1f7;
  --accent-color: #ff8dcb;
  --rec-color: transparent;
  --section-title-color: #343434;
  --container-title-color: #353430;
  --container-subtitle-color: #353430;
  --title-color: #FFC2E6;
  --subtitle-color: #353430;
  --bg-image-theme: url(/slozhno-sosredotochitsya-fd/images/cover-image-light.png);
  --border-color: #353430;
  --border-hover:  rgba(50, 40, 45, 0.4);
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --accent-color: #ff8dcb;
    --rec-color: transparent;
    --section-title-color: #343434;
    --container-title-color: #353430;
    --container-subtitle-color: #353430;
    --title-color: #FFC2E6;
    --subtitle-color: #353430;
    --bg-image-theme: url(/slozhno-sosredotochitsya-fd/images/cover-image-light.png);
    --border-color: #353430;
    --border-hover:  rgba(50, 40, 45, 0.4);
  }
}